:root {
    --first-color: #04BBFF;
    --second-color:#014886;
    --roboto-font:'roboto';
}

body{
    font-family: 'roboto';
    margin-left: 0;
    margin-right: 0;

}

h1{
    color: var(--first-color);
    font-family: 'Gabarito' ;
}

h3{
    font-family: 'Roboto';
    margin-top: 0;
}
.recherche {
    border: 3px solid var(--first-color);

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icone {
    width: 40px;
}

.contain2{
    margin-top: auto;
    margin-bottom: auto;
   
}

/*Pour le bouton connexion / déconnexion */
form{
        margin-top: auto;
        margin-bottom: auto;
}



.contain3{
    display: flex;
    flex-direction: row;
}

.contain4{
    display: flex;
    flex-direction: row;
}

.box{
    padding-right: 10px;
    text-align: center;
  
}

h3{
    margin-top: 0;
}

.conteneur_categories{
    display: flex;
    flex-direction: row;
justify-content: center;
}

.categorie{
    margin-right: 40px;
}

footer{
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.conteneur_footer{
    width: 100%;
    height: 200px;
    background-color: var(--first-color);
}

.conteneur_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.info{
    margin-right: 60px;
}

.bouton{
 
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure du bouton */
    padding: 5px 10px; /* Espace à l'intérieur du bouton */
    text-align: center; /* Centrer le texte à l'intérieur du bouton */
    text-decoration: none; /* Supprimer la décoration du texte */
    display: inline-block;
    font-size: 16px; /* Taille du texte */
    border-radius: 5px; /* Bordure arrondie */
    cursor: pointer; /* Curseur pointeur au survol */
    
}

button{
    background-color: var(--first-color);
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure du bouton */
    padding: 5px 10px; /* Espace à l'intérieur du bouton */
    text-align: center; /* Centrer le texte à l'intérieur du bouton */
    text-decoration: none; /* Supprimer la décoration du texte */
    display: inline-block;
    font-size: 16px; /* Taille du texte */
    border-radius: 5px; /* Bordure arrondie */
    cursor: pointer; /* Curseur pointeur au survol */
}

a{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

/* Style partie recommandation */

#contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.carousselle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 200px;
    padding: 20px; 
    background-color: var(--first-color);
    background-image: url("<?php echo base_url(".\img\img_carouselle.png") ?>");
}

.carousselle .description {background-color: white;
opacity: 50%;   
height: 60%;
width: 30%;
color: var(--second-color);
padding: 10px;}

.carousselle .boutton {align-self: end;

color: white;
background-color: var(--first-color);
padding: 5px;}

/* Style partie recherche récentes */

.part_recherche-recentes {display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 400px;
width: 200px;
gap: 100px;
font-family: var(--roboto-font);}


.part_recherche-recentes .box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
    padding: 10px;
    border-right: black solid 2px ;  
}

.part_recherche-recentes .box .info {display: flex;
flex-direction: row;
align-items: center;
gap: 30px;
}

.part_recherche-recentes img {width:75% ;}